@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@import '../node_modules/breakpoint-sass/stylesheets/breakpoint'

.banner
	top: 0
	left: 0
	right: 0
	height: 100vh
	position: absolute
	background: rgba(0, 0, 0, 0.5)
	&:after
		content: ""
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		z-index: -3
		position: absolute
		@include background_image('banner.jpg')
		background-attachment: fixed
	.container
		@include flex
		height: 100vh
		align-items: center
		justify-content: center
		.banner-content
			width: 700px
			height: 50vh
			@include flex
			align-items: center
			justify-content: center
			@include breakpoint($breakpoint_medium $breakpoint_huge)
				height: 26vh
			h1
				color: #fff
				font-size: 45px
				font-weight: 900
				margin-bottom: 20px
				text-align: center
				@include breakpoint($breakpoint_medium $breakpoint_huge)
					font-size: 50px
					margin-bottom: 10px
				@include breakpoint(0px $breakpoint_xmedium)
					font-size: 42px	
			p
				color: #999
				font-size: 18px
				font-weight: 700	
				margin-bottom: 40px
				text-align: center
				@include breakpoint($breakpoint_medium $breakpoint_huge)
					font-size: 22px
					margin-bottom: 10px
			.btn-banner
				@include flex
				font-weight: 700
				align-items: center
				@include round(50px)
				padding: 18px 28px	
				justify-content: center
				ion-icon
					font-weight: 400
					font-size: 2rem
					padding-right: 0px 10px
.solutions
	width: 100%
	@include flex
	margin: 50px auto
	align-items: center
	margin-top: 710px
	justify-content: center
	@include breakpoint($breakpoint_medium $breakpoint_huge)
		margin-top: 1450px
	@include breakpoint($breakpoint_medium $breakpoint_large)
		margin-top: 1250px
	@include breakpoint(0px $breakpoint_xmedium)
		margin-top: 760px	
	@include breakpoint($breakpoint_small 414px)
		margin-top: 920px	
	h2
		width: 100%
		font-size: 45px
		font-weight: 100
		text-align: center
		margin-bottom: 10px
		text-transform: capitalize
	p
		width: 100%
		font-size: 16px
		font-weight: 300
		text-align: center
		margin-bottom: 50px
	.solutions-content	
		text-align: center
		border-top: 3px solid $white
		@include article(4, transparent, 0px, 20px)
		&:hover
			padding: 10px
			box-shadow: $shadow
			@include round(7px)
			border-top: 3px solid #4FC0E8
		@include breakpoint($breakpoint_medium $breakpoint_huge)
			@include article(6, transparent, 20px, 20px)	
		@include breakpoint(0px $breakpoint_medium)
			@include article(12, transparent, 10px, 0px)		
		img
			margin: 40px auto 40px auto	
			width: 60%
		h3
			font-size: 25px
			font-weight: 100
			padding-bottom: 15px
		p
			font-size: 16px
			font-weight: 100
			margin-bottom: 40px	
.login,
.forgot,
.sign-up,
.confirm-mail	
	padding-top: 80px	
.login,
.forgot,
.contact,
.sign-up,
.confirm-mail	
	width: 100%
	height: 100vh
	background: #EBF8FC
	@include breakpoint($breakpoint_medium $breakpoint_huge)
		height: 65vh
	@include breakpoint(0px $breakpoint_xmedium)
		height: 88vh	
	.container
		@include flex
		height: 100%
		align-items: center
		justify-content: center	
		.login-content,
		.forgot-content,
		.sign-up-content,
		.contact-content,
		.confirm-mail-content
			width: 800px
			height: 500px
			@include flex
			background: $white
			box-shadow: $shadow
			align-items: center
			@include round(10px)
			justify-content: center	
			.login-form,
			.login-photo,
			.forgot-form,
			.contact-form,
			.sign-up-form,
			.forgot-photo,
			.sign-up-photo,
			.contact-photo,
			.confirm-mail-text,
			.confirm-mail-photo
				height: 100%
				text-align: left
				@include article(6, $white, 0px, 0px)
				@include breakpoint(0px $breakpoint_xmedium)
					@include article(12, transparent, 20px, 0px)
			.login-form,
			.forgot-form,		
			.contact-form,
			.sign-up-form,
			.confirm-mail-text
				padding: 30px
				text-align: center	
				h2
					font-size: 35px
					font-weight: 100
					text-align: left
					margin-bottom: 20px	
				p
					@include flex
					font-size: 16px
					font-weight: 300
					text-align: left
					align-items: center
					padding-bottom: 10px
					text-transform: capitalize
					ion-icon
						font-size: 1.5rem
						margin-right: 10px
					a
						color: $blue
						font-weight: 300	
						margin-left: 10px
				form
					width: 100%
					@include flex
					align-items: center
					justify-content: space-between
					a
						width: 400%
						color: $blue
						font-size: 1rem
						font-weight: 300
						text-align: right
						text-transform: capitalize
					input
						border: none
						color: $gray_text
						@include round(7px)
						text-transform: capitalize	
						@include article(6, #B0E3F4, 10px, 5px)
						padding: 15px
					label
						width: 100%
						@include flex
						flex-wrap: nowrap
						align-items: center
						justify-content: flex-start
						input
							width: 10%
							display: inline-block
						span
							width: 90%
							color: $gray_nav
							text-align: left
							font-size: 0.8rem
					textarea
						border: none
						height: 100px
						color: $gray_text
						@include round(7px)
						@include article(12, #B0E3F4, 0px, 5px)
						padding: 0px 5px
					.btn-login,
					.btn-contact,
					.btn-sign-up
						width: 100%
						color: $white
						text-align: center
						margin-top: 10px
						@include round(20px)
					.btn-forgot
						padding: 0px
						color: $white
						@include flex
						align-items: center
						justify-content: center
						@include round_content(40px, true)
						ion-icon
							font-size: 1.2rem	
					h6
						width: 100%
						margin: 20px
						text-align: center
						font-size: 1.2rem
						font-weight: 300
						text-transform: capitalize
					.media
						width: 100%
						@include flex
						align-items: center
						padding: 20px 0px 25px 0px
						justify-content: center
						.icon
							@include flex
							color: $white
							margin: 0px 5px
							font-size: 1.5rem
							background: #B0E3F4
							align-items: center
							justify-content: center
							@include round_content(40px, true) 		
			.login-form
				form
					input
						width: 100%	
			.sign-up-form
				form
					input[type='email'],
					input[type='password']
						width: 100%	
					.media
						padding-top: 0px
			.forgot-form
				form
					input
						width: 83%	
						@include breakpoint(0px $breakpoint_xmedium)
							width: 82%
					a
						font-size: 1.2rem								
			.contact-photo		
				@include background_image('Chatting.png')
				background-size: 90%		
				background-position: center center
			.login-photo
				padding: 40px
				@include background_image('login.png')
				background-size: 90%		
				background-position: center center
				@include breakpoint(0px $breakpoint_xmedium)
					display: none
			.sign-up-photo		
				@include background_image('sign-up.png')
				background-size: 90%
				background-position: center center
				@include breakpoint(0px $breakpoint_xmedium)
					display: none
			.forgot-photo
				@include background_image('forgot_password.png')
				background-size: 90%
				background-position: center center
				@include breakpoint(0px $breakpoint_xmedium)
					display: none
			.confirm-mail-photo	
				@include background_image('messenger.png')
				background-size: 90%
				background-position: center center
				@include breakpoint(0px $breakpoint_xmedium)
					display: none	
		.forgot-content,
		.confirm-mail-content
			height: 350px
			.forgot-form,
			.confirm-mail-text
				@include flex
				align-items: center
